body {
    background-color: rgb(0, 0, 0);
    background:url('images/background-stars.png');
    background-size:cover;
    background-attachment:fixed;
}

h1, h2, h3, h4{
    color:white;
    text-align: center;
    font-family:Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

h1 {
    font-size: 30pt;
    text-transform: uppercase;
    margin-top: 50px;
    font-weight: lighter;
    letter-spacing: 5px;
}

h2 {
    font-size: 13pt;
    margin-top: -10px;
    font-weight: lighter;
}

h3 {
    font-size: 12pt;
    font-style: italic;
    font-weight: 50;
}



a {
    color: white;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-decoration: none;
}



.resource-sites {
    font-size: 10pt;
    font-style: italic;
    position: absolute;
    left: 51%;
    text-decoration: none;
}

.contact{
    font-size: 10pt;
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    font-style: italic;
    text-decoration: none;
    position: absolute;
    left: 40%;
}

.pet-names {
    font-size: 24pt;
    font-weight: lighter;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: white;
    text-align: center;
    margin-top: 20px;
  }

  .item{
    margin-bottom:100px;
   
  }

  .star-img {
    width: 40px;
    position: absolute;    
    right: 49.2%; 
  }

.item:hover {
    background-image: url(images/hover-logo.png);
    background-size: 120px;
    background-position: 150px;
    background-repeat: no-repeat;
    
}

.resource-sites:hover {
    text-decoration: white underline wavy;
}

.contact:hover {
    text-decoration: white underline wavy;
}


